.nav-side-menu {

    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: #2a3f54;
    position: fixed;
    width: 70px;
    top: 0px;
    height: 100%;
    color: #E7E7E7;
    left: 0px;
}

/* Logo */
.nav_title {
    background-color: #2a3f54;
    float: left;
    height: 57px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    border: 0;
}

.side-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: block;
    height: 55px;
    margin-top: 6px;
    padding-left: 13px;
    color: #E7E7E7 !important;
}

.side-title .fa {
        font-size: 25px;
        font-color: #E7E7E7;
}

.side-title i {
        border-radius: 50%;
        border: 1px solid #E7E7E7;
        padding: 10px;
}

/* Side menu first list item*/
.top-dashboard {
    margin-top: 65px;
    padding: 10px 5px !important;
    color: #E7E7E7;
    font-size: 10px;
    height:80px;
    text-align: center !important;
}

.top-dashboard .fa, .dashboard-list .fa {
        font-size: 30px !important;
}

/* Side menu list items*/
.dashboard-list {
    margin-top: 10px;
    padding: 10px 5px !important;
    color: #E7E7E7;
    font-size: 10px;
    height: 80px;
    text-align: center !important;
}

.nav-side-menu .side-list > li > a:hover {
    background-color: #2a3f54 !important;
    color: #fbfbfb;
}

.nav-side-menu .side-list > li.active {
    border-left: 5px solid #1ABB9C;
    height:auto;
}


/* Top menu*/
.navbar-inverse .navbar-nav>.open>a .caret, .navbar-inverse .navbar-nav>.open>a:hover .caret, .navbar-inverse .navbar-nav>.open>a:focus .caret{
    border-top-color:black !important;
    border-bottom-color:black !important;
    
}
.navbar-inverse .navbar-nav>li>a .caret, .navbar-inverse .navbar-nav>li>a:hover .caret, .navbar-inverse .navbar-nav>li>a:focus .caret{
    border-top-color:black !important;
    border-bottom-color:black !important;
    
}
.caret{
    border-right:4px solid black;
    border-left:4px solid black;
}

.navbar-inverse .navbar-nav > li > a {
    color: #5A738E !important;
    font-size: 13px;
    font-weight: 500;
}
    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
        color: #5A738E !important;
        font-size: 13px;
        font-weight: 500;
    }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #D9DEE4 !important;
    font-size: 13px;
    font-weight: 500;
    color: #5A738E !important;
    font-family: Arial, Helvetica, sans-serif;
}

/*Body content*/
.body-contents {
    background: #F7F7F7;
    color: #73879C;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    margin-left: 70px !important;
    margin-top: 50px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
    background: #F7F7F7;
    color: #73879C;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.tile-first{
    padding-bottom:30px;
}
.tile-list{
    height:65px;
    padding-left:10px;
    border-left: 2px solid #ADB2B5;
    padding-bottom:30px;
}
.tile-value {
    color: #1ABB9C;
    font-size:40px;
    font-weight:600;
}

/* Dropdown*/
.dropdown-menu > li > a {
    color: #5A738E !important;
}
.pull-right{
    float:right !important;
}
/*.navbar-inverse
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color:teal;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
@media (max-width: 767px) {
    
  body
  {
      overflow:scroll;
  }
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-top:100px;
  }
  .navbar-fixed-top .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
    
  }
    .row .first{
      margin-left:20px;
     
  }
    .row .second{
      
      margin-right:20px;
  }
   
}
@media (min-width: 768px) and (max-width: 970px) {
 .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  .nav-side-menu {
    width: 22%;
  }
  body
  {
      overflow-x:hidden;
  }
  .row .first{
      margin-left:55px;
      margin-top:70px;
      margin-right:15px;
  }
  
   .navbar-fixed-top .toggle-btn {
    
    background-color:transparent;
    color:transparent;
  }
    #paneltable
    {
         width: 218px;
         height: 220px;
         margin-left:37px;
    }
}

@media (min-width: 768px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  body
  {
      overflow-x:hidden;
  }
  .row .first{
      margin-left:55px;
      margin-top:70px;
      margin-right:15px;
  }
   
   .navbar-fixed-top .toggle-btn {
    
    background-color:transparent;
    color:transparent;
  }
   .panelSkill{
       border-color:black;
       height:100px;
       width:200px;
   }
    #paneltable {
        width: 218px;
        height: 220px;
    }

}
*/

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 540px) {

     /* Force table to not be like tables anymore */
  .size-response table,.size-response thead,.size-response tbody,.size-response th,.size-response td,.size-response tr {
        display: block;
    }
    /* Zebra striping */
   .size-response tr:nth-of-type(odd) { 
        background: #eee; 
        }
        /* Hide table headers (but not display: none;, for accessibility) */
       .size-response thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

  .size-response tr {
        border: 1px solid #ccc;
    }

table.table.table-hover.table-responsive.table-bordered.size-response td{
       /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left:50%;       
		white-space: normal;
		text-align:left;
    }

  .size-response td:before {
           /* Now like a table header */
            position:absolute;
          /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
             width: 45%;
            padding-right: 10px;
            white-space: nowrap;
		  /* text-align:left;*/
		    font-weight: bold;
         }
   /*Label the data*/
       .size-response td:before { 
           content: attr(data-title);

       }
        
       
}