table.profileborder tr {
    line-height: 30px;
    border-bottom: 1px solid #DCDCDC;
}
table.profileborder td {
    color:#2a3f54;
}
table.profileborder td.info {
    color:#1abb9c;
}

@media (min-width: 600px) and (max-width: 870px)
{
     .col-sm-7 {
        width:60% !important;
         float: right !important; 
         height: 100%  !important;
    }
     .col-sm-5 {
        width:40% !important;    
        float: left !important; 
        height: 100% !important;   
    }
}

@media (min-width: 510px) and (max-width: 600px)
{
     .col-sm-7 {
        width:60% !important;
         float: right !important; 
    }
     .col-sm-5 {
        width:40% !important;    
        float: left !important;    
    }
}
