@media (max-width: 1024px)
{
  
   #newEmployeeDiv{
       float:right;
       text-align:right;
      padding-right: 0px;
   }
   .col-md-3{
       float:left;
   }
  
}
@media (max-width: 992px) {

    #newEmployeeDiv {
        float: right;
        padding-right: 0px;
    }
    .col-md-3{
       float:left;
   }
}
@media (max-width: 519px) {
    
     #newEmployeeDiv,#searchButton {
        float:left;
        padding-top:5px;
        padding-left:0px;
    }
    
      .col-md-3{
       float:left;
   }
}
