/* Custom button css*/
.btn-new {
    background: #1abb9c;
    border-radius: 0px;
    color: #FFF;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
}
    .btn-new:hover, .btn-new:focus, .btn-new:active, .btn-new.active, .open>.dropdown-toggle.btn-new {
    color: #1abb9c;
    background-color: #f7f7f7;
    border-color: #1abb9c; /*set the color you want here*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 180px;
   min-width:100px;
}
/*Styles for rating stars*/

.starFade {
    background-image: url('/Images/ashstar.png');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('/Images/ashstar.png');
    min-width: 21px;
    min-height: 21px;
    display: inline-block;
    
}

.starGlow {
    background-image: url('/Images/redstar.png');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('/Images/redstar.png');
    min-width: 21px;
    min-height: 21px;
    display: inline-block;

}
/*Style for card layout*/
.Ratecard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    background-color:white; 

}

    .Ratecard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.panelRating {
    word-break: break-all;
    padding-left: 8px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    height:50px;
    visibility: hidden; /* Hidden by default. Visible on click */
    width: 200px; /* Set a default minimum width */
   /* Divide value of min-width by 2 */
   font-family:Arial, Helvetica, sans-serif;
    background-color: #2a3f54; /* Black background color */
    color: #f0f8ff; /* White text color */
    text-align: left; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 15px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 100px; /* Center the snackbar */
    bottom: 20px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbarValidation {
 
    height:50px;
    visibility: hidden; /* Hidden by default. Visible on click */
    width: 200px; /* Set a default minimum width */
   /* Divide value of min-width by 2 */
   font-family:Arial, Helvetica, sans-serif;
     background-color:#AD2831 ; /* Black background color */
    color: #f0f8ff; /* White text color */
    text-align: left; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 15px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 100px;/* Center the snackbar */
    bottom: 20px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbarValidation.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 20px; opacity: 0;} 
    to {bottom: 20px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 20px; opacity: 0;}
    to {bottom: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 20px; opacity: 1;} 
    to {bottom: 20px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 20px; opacity: 1;}
    to {bottom: 20px; opacity: 0;}
}
.loader {
  border: 3px solid #1abb9c;
  border-radius: 100%;
  border-top: 3px solid #2a3f54;
  width: 18px;
  height: 18px;
  animation: spin 1.5s linear infinite;
  
}
.starFadeTable{
    background-image:url('/Images/ashstar.png');
    min-width:20px;
    min-height:20px;
    display:inline-block;
    cursor:auto;
}
.starGlowTable{
 
    background-image:url('/Images/redstar.png');
    min-width:20px;
    min-height:20px;
    display:inline-block;
    cursor:auto;
}
[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: auto;
    padding: 0px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #2a3f54;
    color: #f0f8ff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #2a3f54;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #2a3f54;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #2a3f54;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #2a3f54;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.delete{
 cursor: pointer;
 color:#2a3f54
}

 @media only screen and (max-width: 350px) {
   .panel-body {
    font-size: 10px;
} 
}

/*@media (max-width: 768px) {
    #containerRating {
        margin-top: 20px;
      
    }
}*/
/*@media (max-width: 395px) {
    #Resetbtn {
        margin-top: 20px;
      
    }
}*/

input[type=button] {
    color:white;
    margin-bottom:20px;
}
td
{
word-break: break-all;
}

