body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Styles for rating stars*/

.starFade{
    background-image:url('/Images/ashstar.png');
    min-width:20px;
    min-height:20px;
    display:inline-block;
    cursor:pointer;
}

.starFadeN{
    background-image:url('/Images/ashstar.png');
    min-width:21px;
    min-height:21px;
    display:inline-block;
    cursor:pointer;
}

.starGlow{
 
    background-image:url('/Images/redstar.png');
    min-width:20px;
    min-height:20px;
    display:inline-block;
    cursor:pointer;
}
.starGlowN{
    background-image:url('/Images/redstar.png');
    min-width:21px;
    min-height:21px;
    display:inline-block;
    cursor:pointer;
    
    
}
/*Style for card layout*/
.Ratecard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:95%;
    border-radius: 5px;
}

.Ratecard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}


