
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
}
/*Styles for rating stars*/

.starFade {
    background-image: url('/Images/ashstar.png');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('/Images/ashstar.png');
    min-width: 21px;
    min-height: 21px;
    display: inline-block;
    
}

.starGlow {
    background-image: url('/Images/redstar.png');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('/Images/redstar.png');
    min-width: 21px;
    min-height: 21px;
    display: inline-block;

}
/*Style for card layout*/
.Ratecard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 95%;
    border-radius: 5px;
}

    .Ratecard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.panelRating {
    word-break: break-all;
    padding-left: 8px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.loader {
    border: 5px solid #f0f8ff;
  border-radius: 100%;
  border-top: 5px solid #4682b4;
  width: 30px;
  height: 30px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}