.btn-aqua {
    background: #2a3f54;
    color: #FFF;
}
.btn-aqua:hover, .btn-aqua:focus, .btn-aqua:active, .btn-aqua.active, .open>.dropdown-toggle.btn-aqua {
    color: #FFF;
    background: #0A0C0E;
    border-color: #2a3f54; /*set the color you want here*/
}
.btn-green{
    background:#1ABB9C;
        color:#FFF;
}
.btn-green:hover{
    color: #FFF;
    background: #59A991;
    border-color: #2a3f54;
}
table.profileborder tr {
    line-height: 30px;
    
}
table.profileborder td {
    color:#2a3f54;
}
table.profileborder td.info {
    color:#2a3f54;
    font-weight:bold;
    white-space:normal;
}
@media (max-width: 339px)
{
table.profileborder td {
    font-size:11px;
    white-space:normal;
}

}
@media (min-width: 340px) and (max-width: 392px)
{
table.profileborder td {
    font-size:12px;
    white-space:normal;
}
}