@model IEnumerable<Skillset_PL.ViewModels.EmployeeViewModel>
@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Card.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <script>
        var LineChartData =
                   {
                       labels: [@Html.Raw(ViewBag.SkillnameList)],
                       datasets: [{
                           label: 'Skill Ratings',
                           backgroundColor: "rgba(75,192,192,0.4)",
                           borderWidth: 2,
                           data: [@ViewBag.RatingList]
                       }]
                   };

        window.onload = function () {
            var ctx1 = document.getElementById("Linecanvas").getContext("2d");
            window.myBar = new Chart(ctx1,
                {
                    type: 'line',
                    data: LineChartData,
                    options:
                        {
                            title:
                            {
                                display: true,
                                text: "Skill Ratings"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                });
        }
    </script>
</head>

<body>
   
    <div class="row first" >
        <div class="col-sm-4">
            <div class="card">
                <div style="text-align:center;background-color:lightgoldenrodyellow;height:80px;"><span class="fa fa-lightbulb-o" style="font-size:55px;margin-top:30px"></span></div>
                <div class="container">
                    <h4><b>@(ViewBag.TotalSkills)</b></h4>
                    <p>Total Skills</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:@(ViewBag.TotalSkills)%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div style="text-align:center;background-color:indianred;height:80px"><span class="glyphicon glyphicon-star" style="font-size:50px;margin-top:30px"></span></div>
                <div class="container">
                    <h4><b>@(ViewBag.TotalSkillRatings)</b></h4>
                    <p>Total Ratings</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:@(ViewBag.TotalSkillRatings)%;">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">

            <div class="card">
                <div style="text-align:center;background-color:teal;height:80px"><span class="glyphicon glyphicon-user" style="font-size:50px;margin-top:30px"></span></div>
                <div class="container">
                    <h4><b>@(ViewBag.TotalEmployees)</b></h4>
                    <p>Total Users</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:@(ViewBag.TotalEmployees)%;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Chart *@
    <div class="row" style="margin-left:35px;margin-top:50px">
        <div class="col-sm-8">
            <div style="text-align: center">
                <canvas id="Linecanvas"></canvas>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Recent Employees</div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.Gender == "female")
                                {
                                    <td>
                                        <img src="~/Images/female.png" width="40" height="20"/>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <img src="~/Images/male.png" width="40" height="20" />
                                    </td>
                                }
                                
                                <td >
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
