@model IEnumerable<Skillset_PL.ViewModels.AdministratorSkillViewModel>

@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
    ViewBag.Title = "Skills";
}
<div class="row first">
    <h2>Skills</h2>

            {                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SkillName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SkillValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RatingDate)
                    </th>
                </tr>

    else
    {
        <br />
        <div class="alert alert-warning fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>No Skill Ratings!</strong> There is no skill ratings available.
        </div>
    }    <br />
    <p>
        @Html.ActionLink("Back to Employee List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
    </p>
</div>